//Complete v 1.0.01
div(class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium")
  button(class="menu-icon" type="button" data-toggle)
  div(class="title-bar-title")
div(class="top-bar" id="example-menu")
  div(class="top-bar-right")
    ul(class="menu")
      li(class="menu-text") Weather App
      li(class="menu-text") 
        button(type="button" class="button" data-open="exampleModal8") 
          i(class="fa fa-cog" aria-hidden="true")
  div(class="top-bar-left")
    ul(class="tabs" data-tabs id="example-tabs")
      li(class="tabs-title is-active")
        a(href="#panel1" aria-selected="true") Summary
      li(class="tabs-title")
        a(href="#panel2") Daily
      li(class="tabs-title")
        a(href="#panel3") Hourly
