//script(src="bower_components/jquery/dist/jquery.js")
//script(src="bower_components/what-input/dist/what-input.js")
//script(src="bower_components/foundation-sites/dist/js/foundation.js")
script(src="http://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="   crossorigin="anonymous")
script(src='https://cdn.jsdelivr.net/foundation/6.2.4/foundation.min.js')
script(src='js/app.js')
script(src='js/weatherData.js')
