mixin subhead(subtext, heading, displayPhoto)
    
    section.heading
            p.text-muted.htmlcode.body
                | &lt; body &gt;
            .inner-text
                h5.addtional-text= subtext 
        
                span.htmlcode.htag
                    | &lt; h2 &gt;
                    h2.title= heading
                    span.htmlcode.htag
                        | &lt; &#x2F; h2 &gt;
