/* fr social bar */
.nav-social-fr {

    z-index: 100;
    position: fixed;
    bottom: .5rem;
    right: 1.75rem;
    list-style: none;

    li {
        margin: 0 0 .75rem;  
    }
}


@media(min-width: $media-md) {
    .nav-social-fr {
        margin-right: 1.25rem;
    }
    .nav.social {
        background-color: rgba(0,0,0,0);
    }
}