
section.heading  {

    padding-top: $push-away-from-nav;
    padding-bottom: 2rem;
    .inner-text {
        text-align: center;
        padding-top: 0.5rem;
    
    }

    .addtional-text {
        color: $addtional-text;
        text-align: center;
    }

    .title {
        font-weight: $font-weight-bolder;
        text-align: center;
        margin: 0 0.55rem;
        font-size: 2rem;
    }

    .section-splitter {
        padding: 0.15rem;
        margin: 1rem 4rem 2rem;
        background-color: $primary-color;
    }

   
}



/* HTML SYNTAX */


.htmlcode {
    font-style: italic;
    
    font-family: 'Indie Flower', cursive;
    margin: 0;
}
.htmlcode.body, .htmlcode.html {
    font-size: 1.55rem;
}
.htag {

    color: rgb(7, 114, 202);
    text-align: center;
    font-size: 1.35rem;
    .title {
        color: #fff;
        display: inline;
        font-family: 'Poppins', sans-serif;
    }
}
.htmlcode.htag {
    /*border-bottom: 0.35rem solid #04a70c;*/
    padding-bottom: 0.25rem;
}


img.profile-pic {
    display: block;
    margin: 1rem auto;
    max-width: 100%;
    padding: 0;

}

.bottom-border  {
    background-color: #04a70c;
        width: 40%;
    height: .25rem;
    display: block;
    margin: 0.25rem auto;
    position: relative;
    right: 6px;

}

@media (min-width: $media-md) {
    img.profile-pic {
        padding: 0 1rem 0 0;
        height: 365px;
    }
}