extends layout.pug
include includes/subhead.pug
include mixins/navbar.pug
include mixins/tabs.pug


block content

    // Data to pass to tabs
    - 
        var navSetting = {   
            "logo":{
            "src":"assets/img/logo.png",
            "alt":"Logo"
            },
            "links":[{
                    "name":"About",
                    "href":"about.html",
                    
                },{
                    "name":"Portfolio",
                    "href":"portfolio.html",
                    "active": true
                
                },{
                    "name":"Blog",
                    "href":"blog.html"
                }]
        }
    - 
        var firstItem = {
            "tabname": "All", 
            "cards":[
                {
                    "src":"/assets/img/website1.png",
                    "type":"image",
                    "alt":"Kitten",
                    "title": "Title for first item", 
                    "text": "TEXT"
                },
                {
                    "src":"/assets/img/website2.png",
                    "type":"image",
                    "alt":"Kitten",
                    "title": "Title", 
                    "text": "TEXT"
                },
                {
                    "src":"/assets/img/website3.png",
                    "type":"image",
                    "alt":"Kitten",
                    "title": "Title", 
                    "text": "TEXT"
                },
                {
                    "src":"/assets/img/website4.png",
                    "type":"image",
                    "alt":"Kitten",
                    "title": "Title", 
                    "text": "TEXT"
                },
                {
                    "src":"/assets/img/website5.png",
                    "type":"image",
                    "alt":"Kitten",
                    "title": "Title", 
                    "text": "TEXT"
                },
                {
                    "src":"/assets/img/website6.png",
                    "type":"image",
                    "alt":"Kitten",
                    "title": "Title", 
                    "text": "TEXT"
                }
                
            ]
        }

    - 
        var items = [{
            "tabname": "Bs4", 
            "cards":[
                    {
                        "src":"/assets/img/website5.png",
                        "type":"image",
                        "alt":"Kitten",
                        "title": "Brand Title", 
                        "text": "TEXT"
                    },
                    {
                        "src":"/assets/img/website4.png",
                        "type":"image",
                        "alt":"Kitten",
                        "title": "Title", 
                        "text": "TEXT"
                    },
                    {
                        "src":"/assets/img/website3.png",
                        "type":"image",
                        "alt":"Kitten",
                        "title": "Title", 
                        "text": "TEXT"
                    },
                    {
                        "src":"/assets/img/website2.png",
                        "type":"image",
                        "alt":"Kitten",
                        "title": "Title", 
                        "text": "TEXT"
                    },
                    {
                        "src":"/assets/img/website7.png",
                        "type":"image",
                        "alt":"Kitten",
                        "title": "Title", 
                        "text": "TEXT"
                    },
                    {
                        "src":"/assets/img/website1.png",
                        "type":"image",
                        "alt":"Kitten",
                        "title": "Title", 
                        "text": "TEXT"
                    }
                ]
            },
            {
            "tabname": "React", cards:[    
                {
                    "src":"/assets/img/website1.png",
                    "type":"image",
                    "alt":"Kitten",
                    "title": "Title for first item", 
                    "text": "TEXT"
                },
                {
                    "src":"/assets/img/website2.png",
                    "type":"image",
                    "alt":"Kitten",
                    "title": "Title", 
                    "text": "TEXT"
                },
                {
                    "src":"/assets/img/website3.png",
                    "type":"image",
                    "alt":"Kitten",
                    "title": "Title", 
                    "text": "TEXT"
                },
                {
                    "src":"/assets/img/website4.png",
                    "type":"image",
                    "alt":"Kitten",
                    "title": "Title", 
                    "text": "TEXT"
                },
                {
                    "src":"/assets/img/website5.png",
                    "type":"image",
                    "alt":"Kitten",
                    "title": "Title", 
                    "text": "TEXT"
                },
                {
                    "src":"/assets/img/website6.png",
                    "type":"image",
                    "alt":"Kitten",
                    "title": "Title", 
                    "text": "TEXT"
                }] },
            {"tabname": "Angular", cards:[
                      {
                        "src":"/assets/img/website5.png",
                        "type":"image",
                        "alt":"Kitten",
                        "title": "Brand Title", 
                        "text": "TEXT"
                    },
                    {
                        "src":"/assets/img/website4.png",
                        "type":"image",
                        "alt":"Kitten",
                        "title": "Title", 
                        "text": "TEXT"
                    },
                    {
                        "src":"/assets/img/website3.png",
                        "type":"image",
                        "alt":"Kitten",
                        "title": "Title", 
                        "text": "TEXT"
                    },
                    {
                        "src":"/assets/img/website2.png",
                        "type":"image",
                        "alt":"Kitten",
                        "title": "Title", 
                        "text": "TEXT"
                    },
                    {
                        "src":"/assets/img/website7.png",
                        "type":"image",
                        "alt":"Kitten",
                        "title": "Title", 
                        "text": "TEXT"
                    },
                    {
                        "src":"/assets/img/website1.png",
                        "type":"image",
                        "alt":"Kitten",
                        "title": "Title", 
                        "text": "TEXT"
                    }
            ] }
        ]
        
    body
        
        +NavbarFixed(navSetting)

        main.container.profile
            +subhead("Showcasing some of my best work", "Portfolio", false)
            +tabs(firstItem, items)
      
        include includes/footer.pug
        include includes/scripts.pug