extends ../layout.pug


block content
    
    
        
        h3 to be implemented
        include ../mixins/basic-card.pug
        +basicCard('Length', 'meters', 'feet', 
            'yards',
            'inches', 'centimeters', 
            'milimeters', 
            'furlongs',
            'km', 'miles')