extends ../layout.pug


block content
    
    
        
        h3 to be implemented
        include ../mixins/basic-card.pug
        +basicCard('Weight', 
            'kilograms', 'pounds', 
            'ounce', 'miligrams', 'grams',
            'stone',
            'ton')