
    .who-am-i {
        padding: 1rem 0 0;

        .about-me-title {
            font-weight: bolder;
            padding: 0 0;
            margin: 0;
        }
        .about-me-text {
            border-bottom: 2px solid grey ;
            padding: 1rem 0
            
        }
        hr {
            margin: 2rem 0 0;
            
            background-color: grey;
        }
    }

    .stats {
        margin: 1rem 0 0;
        padding-bottom: 4rem;
        ul {

            list-style: none;
            padding: 0;
            li {
                padding: 0 0 1rem;
            }
        }
        .stat {
            padding: 0 0 0 0.75rem;

        }
    }