.ui.inverted.vertical.footer.segment
  .ui.container
    .ui.stackable.inverted.divided.equal.height.stackable.grid
      .three.wide.column
        h4.ui.inverted.header About
        .ui.inverted.link.list
          a.item(href='#') Sitemap
          a.item(href='#') Contact Us
      .three.wide.column
        h4.ui.inverted.header Services
        .ui.inverted.link.list
          a.item(href='#') Imperial to Metric
          a.item(href='#') Metric to Imperial
          a.item(href='#') FAQ

      .seven.wide.column
        h4.ui.inverted.header UndreamtMayhem
        p
          | Put social links
