.ui.inverted.vertical.masthead.center.aligned.segment
    .ui.container
        .ui.large.secondary.inverted.pointing.menu
            a.toc.item
                i.sidebar.icon
            include ../mixins/nav-items.pug
    
    .ui.text.container
        h1.ui.inverted.header=title
    