.ui.large.top.fixed.hidden.menu
  .ui.container
 
      include ../mixins/nav-items.pug
      
     
// Sidebar Menu
.ui.vertical.inverted.sidebar.menu
    a.active.item Home
    include ../mixins/nav-items.pug
   


    