header {
    background-color: #cbc6c5;
}
h1 {
    text-align: center;
}

h1, h2 {
    color: #ffffff;
    text-transform: uppercase;
}

section {
    background-color: #9d9a99;
}

nav {
    text-align: center;
}

a {
    color: #000000;
    background-color: #f8f4f3;
    text-align: center;
}

img {
    display: none;
}