footer
  .footer-content
    .footer-links
      p Contact Us        
      p View Our Cookie Policy       
      p Our Privacy Policy      
    .social-button-group
      a.fa.fa-twitter.fa-social(href='https://twitter.com/undreamtmayhem')        
      a.fa.fa-facebook.fa-social(href='https://www.facebook.com/UndreamtMayhem')        
      a.fa.fa-google.fa-social(href='https://plus.google.com/117941782116734110521')         
      a.fa.fa-instagram.fa-social(href='https://www.instagram.com/undreamtmayhem/')         
      a.fa.fa-snapchat-ghost.fa-social(href='https://www.snapchat.com/add/undreamt-mayhem')       
    .bottom-footer
      p Nightlife&copy;2017. All Rights Reserved

script(src='/jquery/dist/jquery.min.js')
script(src='/tether/dist/js/tether.min.js')
script(src='/bootstrap-4.6Alpha/dist/js/bootstrap.min.js')
script(src='/js/main.js')