.abilities,
.experience {
    text-align: center;
}

//watch for h3
h3 {
    margin-bottom: 10px;
}

.abilities {
    //7B1FA2
    //background-color: #222222;
    background-color: #fff;
    color: #000;
}

.services {
    background-color: #6A1B9A;
}

.experience {
    background-color: #512da8;
    color: #fff;
    p {
        margin: 0;
    }
}

.education-header {
    text-align: center;
}

.icon {
    padding: 20px;
    //border: 2px solid grey;
    border-radius: 50%;
    font-size: 34px;
    background-color: #03a9f4;
    color: white;
    margin: 10px;
}

.logo {
    //md screen
    //height: 125px;
    height: 69px;
    margin: 10px;
}

.content-section-heading {
    text-align: center;
}

.abilities,
.content-section {
    padding: 4.5rem 0;
}