mixin whoami(title, alttxt, content)
    // add source loop maybe
    section.row
   

        picture.col-lg-6(data-aos="fade-left" data-aos-delay="400" data-aos-duration="1000")
            source(media="(max-width: 600px)" srcset="/assets/img/processed-images/profile1_400w.webp")
            source(media="(max-width: 700px)" srcset="/assets/img/processed-images/profile1_600w.webp")
            source(media="(max-width: 800px)" srcset="/assets/img/processed-images/profile1_800w.webp")
            img.profile-pic( src="/assets/img/processed-images/profile1_1600w.webp" alt="Chris standing up holding his daughter Elva")

        .who-am-i.col-lg-6(data-aos="fade-right" data-aos-delay="400" data-aos-duration="1000")
            h5.highlight-text Who am i?
            h4.about-me-title I'm Daniel Johnson, a visual UX/UI Designer and Web Developer
            p.mute-text.about-me-text I'm baby umami bushwick pickled four dollar toast, helvetica hella crucifix stumptown mumblecore woke franzen. Freegan everyday carry yr post-ironic. Bespoke poutine glossier, yuccie drinking vinegar squid pug pork belly. Shoreditch lomo chillwave master cleanse affogato pabst kombucha cliche aesthetic letterpress bushwick activated charcoal. Deep v pork belly yuccie slow-carb viral PBR&B. Twee synth tilde try-hard occupy air plant typewriter vape palo santo VHS XOXO meh aesthetic glossier. Single-origin coffee disrupt synth chambray cronut literally raw denim celiac.