.card.blog
    .card-body
        .media
            img.thumbnail.mr-3(src='/assets/profile.jpg' alt='Generic placeholder image')
            .media-body
                p Posted by 
                    span.title Daniel Johnson
                small.text-muted dd/mm/yryr
        ul.topics
            li.text-muted Badge
            li.text-muted Badge
            li.text-muted Badge
        h5.card-title “Be the change that you wish to see in the world.”
        p.card-text.text-muted
            | This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
        a.read-more(href="#") 
            | Read More  
            i(class="fa fa-arrow-right"  aria-hidden="true") 