extends ./layout.pug

block nav
  nav
    div(class="nav-wrapper")
      a(href="#" class="brand-logo") Exercise Tracker
     

block content

  div(class="row")
    include ./exercisecard.pug
    include ./addexercise.pug
    div(class="col s12 m3")
      p 
        | GET users's exercise log: GET /api/exercise/log?{userId}[&from][&to][&limit]
      p 
        | { } = required, [ ] = optional
      p 
        | from, to = dates (yyyy-mm-dd); limit = number