

/* helper */
/* need to remove dependency */
.highlight-text {
    color: $primary-color;
    padding: 0 0 1rem;
}


.bt-highlight {
    background-color: $primary-color;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 30px;
}
/* blog page */
img.thumbnail {
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

.media-body {

    color: #000;
    p {
        margin: 0;
    }
    .title {
        font-size: 1.25rem;
        font-weight: 900;
    }
}