@import "mixins/full-image-background";


.card.blog.full-image {
    .image {
        @include full-image-background;
        /*margin-bottom: $push-blog-card-away; */
    }
    .card-body {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.8);
        margin-bottom: 0;
        
        .media-body {
            color: #fff;
        }
    }
    .read-more {
        color: #fff;
    }
}