- 
  var navSetting = {   
    "logo":{
      "src":"assets/img/logo.png",
      "alt":"Logo"
    },
   "links":[{
         "name":"About",
         "href":"about.html"
      
      },{
          "name":"Portfolio",
          "href":"portfolio.html"
      },{
          "name":"Blog",
          "href":"blog.html"
    }]
  }
