body {
    padding: 0.25rem;
    margin: 0.35rem;
    box-sizing: border-box;
}

header {
    background-color: #cbc6c5;
    background-image: url('../images/flywheel.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem;
}

h1 {
    text-align: center;
    color: #f8f4f3;
}
h2 {
    color: #524d4d;

}
h1, h2 {
    text-transform: uppercase;
}

section {
    background-color: #ffffff;
}

nav {
    text-align: center;
}
nav a {
    background-color: #f8f4f3;
    display: inline-block;
    opacity: 0.8;
    text-decoration: none;
    border-radius: 3px 3px 3px;
    padding: 0.5rem;
    margin: 0 0.5rem;
    width: 150px;
}

aside a {
    display: inline-block;
    text-align: center;

}

a.active {
    background-color: #fff;
    color: rgb(92, 22, 158);
}

img {
    margin: 0.5rem auto;
    width: 80%;
    border: 5px solid #f8f4f3;
    box-sizing: border-box;
}



.left {
    background-color: rgb(87, 174, 177);
    width: 20%;
    padding: 1.5rem 0;
    float: left;
}

.right {
    box-sizing: border-box;
    padding: 1rem;
    width: 80%;
    float: right;
}

