footer
  p.text-center Designed and made by 
    a(href='#') Daniel Marcial Johnson
script(src='/jquery/dist/jquery.min.js')
script(src='/tether/dist/js/tether.min.js')
script(src='/bootstrap-4.6Alpha/dist/js/bootstrap.min.js')
script(src='/typeahead/dist/typeahead.jquery.js')
script(src="/socket.io/socket.io.js")
script(src='/js/main.js')