section.row
    .stats.col-sm-12
        .row#progress
            .col-sm-12
                h2 Skills
            .col-sm-12.col-md-6(data-aos="fade-left" data-aos-delay="250" data-aos-duration="2000" data-aos-mirror="false" data-aos-once="true")
                p.row.skill 
                    span.col-lg-2 HTML
                    span.col-lg-10#html
                p.row.skill   
                    span.col-lg-2 CSS
                    span.col-lg-10#css
                p.row.skill 
                    span.col-lg-2 Js
                    span.col-lg-10#js
                p.row.skill  
                    span.col-lg-2 React
                    span.col-lg-10#react
            .col-sm-12.col-md-6(data-aos="fade-right" data-aos-delay="250" data-aos-duration="2000" data-aos-mirror="false" data-aos-once="true")
                p.row.skill
                    span.col-lg-2 Angular
                    span.col-lg-10#angular
                p.row.skill 
                    span.col-lg-2 Node
                    span.col-lg-10#node
                p.row.skill 
                    span.col-lg-2 Gulp
                    span.col-lg-10#gulp
                p.row.skill 
                    span.col-lg-2 Django
                    span.col-lg-10#django
        
        include stats.pug

        .row.social-container

            include download-btn.pug
            include navsocial.pug