
body {
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: #fff;
    /*color: #333;*/
}

body#full-video, html {
    height: 100%;
    //overflow: hidden;
}
.container {
    padding: 0 2rem;
}

.fa.lg {
    color: #fff;
    font-size: 1.5rem;

}