$overlay-color: #222527;
$overlay-mobile-color: #0b0c0c;

.v-header {
    height: 80vh;
    display: flex;
    align-items: center;
    color: #fff;
}


.header-overlay {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
    background: $overlay-color;
    opacity: .75;
}

.header-content {
    z-index: 2;
    h1 {
        font-weight: 700;
        font-size: 3rem;
        margin-bottom: 1.25rem;
    }
    p {
        font-size: 1.5rem;
        display: block;
    }

}


.fullscreen-video-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

@media(max-aspect-ratio: 16 / 9) {
    .fullscreen-video-wrap {
        width: auto;
        height: 100%;
    }
}

@media(max-width: 767px) {
    .fullscreen-video-wrap {
        display: none;
    }

    body#full-video {
        background: url('../assets/img/poster.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
  
    }
    
    .header-overlay {
        background: $overlay-mobile-color;
        opacity: .65;
    }
}
