/* ABOUT PAGE */



    .who-am-i {
        padding: 3rem 0 0;

        .about-me {
            font-weight: bolder;
            padding: 0 0 1rem;
        }
        hr {
            margin: 2rem 0 0;
            padding: 0.0025rem;
            background-color: grey;
        }
    }

    .stats {
        margin: 1rem 0 0;
        ul {

            list-style: none;
            padding: 0;
            li {
                padding: 0 0 1rem;
            }
        }
        .stat {
            padding: 0 0 0 0.75rem;

        }
    }


