/*
$primary:       $blue !default;
$secondary:     $gray-600 !default;
$text: grey;
*/

/* COLOR */
$primary-color: #04a70c;

$addtional-text: #6c757d;




$font-weight-bolder: bolder;
/* can we use $font-weight-bold */


/* PROFILE */
$push-away-from-nav: 3rem;
$profile-pic-border: 1px solid #dee2e6;



/* grid breakpoints */
$media-xs: 0;
$media-sm: 480px;
$media-md: 768px;
$media-lg: 1024px;