
body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: #333;
    overflow-x: hidden;

}
body, html {
    height: 100%;
}
@import "header.scss";
@import "nav.scss";
@import "text_animation.scss";