.overlay
.fullscreen-bg
  video.fullscreen-bg__video(loop='' muted='' autoplay='')
    source(src='../video/sunrise.webm' type='video/webm')
    source(src='../video/sunrise.mp4' type='video/mp4')
    source(src='../video/sunrise.ogg' type='video/ogg')
.intro
  h1 Full Stack Web Developer
  .inner
  h2.name UndreamtMayhem
  .start 
    i.fa.fa-dot-circle-o 
    span Responsive WEB
    i.fa.fa-dot-circle-o  
    span UI 
    i.fa.fa-dot-circle-o 
    span Design
  .buttons
    a(href="portfolio.html").btn.btn-projects
      | View My Work
    a(href="about.html").btn.btn-aboutme
      | Find Out About Me