nav.site-header.fixed-top.py-1.navbar-light
  .container-nav.d-flex.flex-column.flex-sm-row.justify-content-around
    
    a.d-none.d-md-block.d-lg-block.py-2(href='#')
      i.fa.fa-github.fa-2x
    ul.side.nav
      li.nav-item
        a.nav-link.active(href='index.html') Home
      li.nav-item
        a.nav-link(href='portfolio.html') Portfolio
      li.nav-item
        a.nav-link(href='about.html') About