include BlogCard/topBar.pug

mixin createCardColumn(images)

    .card-columns
        for image in images
            if image.type == "image"
                .card()
                    - var icon = "fab fa-firefox"
                     
                        +bar(image.title, icon)
                        img.card-img-top(src=image.src alt=image.alt)
                        a(href="#")
                            
                            .card-body-footer
                                i.fab.fa-codepen
                                i.fab.fa-github
                                i.fab.fa-bitbucket
                                
            else if image.type == "text"
                .card.text-white.text-center.p-3(data-aos="fade-right" data-aos-delay="250" data-aos-duration="2000" data-aos-once="true")
                    blockquote.blockquote.mb-0
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.
                    footer.blockquote-footer
                        small
                        | Someone famous in 
                        cite(title='Source Title') Source Title