section.abilities
    .container
        .row
            .col-12.wow.slideInLeft.mb-2(data-wow-delay=".5s")
                h3.text-blue-header.mb-0 Skills
                h2.education-header.mb-3 What Can I do
                .sectionline
                p.lead Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque exercitationem ab expedita architecto mollitia autem iste molestias corporis voluptas, alias minus ad tempora optio pariatur officiis, aliquid nobis nemo officia!
            .col-md-3.col-sm-12.wow.slideInLeft.my-4(data-wow-delay=".5s")
                i(class="fa fa-laptop icon")
                h3 Web Design
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam maiores qui veniam, consequatur necessitatibus quo possimus eaque numquam cum culpa quia earum eveniet itaque vel modi debitis mollitia sed tempore?
                hr
                .btn.btn-primary
                    | Read More
            .col-md-3.col-sm-12.wow.bounceInUp.my-4(data-wow-delay=".5s")
                i(class="fa fa-graduation-cap icon")
                h3 Web Development
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam maiores qui veniam, consequatur necessitatibus quo possimus eaque numquam cum culpa quia earum eveniet itaque vel modi debitis mollitia sed tempore?
                hr
                .btn.btn-primary
                    | Read More
            .col-md-3.col-sm-12.wow.bounceInUp.my-4(data-wow-delay=".5s")
                i(class="fa fa-tasks icon")
                h3 Photography
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam maiores qui veniam, consequatur necessitatibus quo possimus eaque numquam cum culpa quia earum eveniet itaque vel modi debitis mollitia sed tempore?
                hr
                .btn.btn-primary
                    | Read More
            .col-md-3.col-sm-12.wow.slideInRight.my-4(data-wow-delay=".5s")
                i(class="fa fa-tasks icon")
                h3 Support
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam maiores qui veniam, consequatur necessitatibus quo possimus eaque numquam cum culpa quia earum eveniet itaque vel modi debitis mollitia sed tempore?
                hr
                .btn.btn-primary
                    | Read More

section.content-section.services.text-white.text-center
    .container
        .content-section-heading
            h3.text-warning.mb-0 Toolset
            h2.mb-2 What I Use to build projects
            .sectionline
            .row
                .col-lg-3.col-md-6.mb-5.wow.slideInLeft(data-wow-delay=".5s")
                    span.service-icon.rounded-circle.mx-auto.mb-3
                    img.img-fluid.logo(src="../img/HTML5_Logo.svg", alt="")
                    img.img-fluid.logo(src="../img/pug.jpg", alt="")
                    h4 Markup and Template Languages
                    p.text-faded.mb-0 Html, 
                        i.fa.fa-heart 
                        |  Pug, 
                        | Markdown
                .col-lg-3.col-md-6.mb-5.wow.bounceInUp(data-wow-delay=".5s")
                    span.service-icon.rounded-circle.mx-auto.mb-3
                    img.img-fluid.logo(src="../img/css3_logo.png", alt="")
                    img.img-fluid.logo(src="../img/sass_logo.png", alt="")
                    h4 Styling
                    p.text-faded.mb-0 CSS3, 
                        i.fa.fa-heart 
                        | SASS, 
                        | LESS
                .col-lg-3.col-md-6.mb-5.wow.bounceInUp(data-wow-delay=".5s")
                    span.service-icon.rounded-circle.mx-auto.mb-3
                    img.img-fluid.logo(src="../img/js_logo.png", alt="")
                    img.img-fluid.logo(src="../img/ts.png", alt="")
                    h4 Javascript
                    p.text-faded.mb-0 ECMA 5, 
                        i.fa.fa-heart
                        |  Typescript, Babel
                .col-lg-3.col-md-6.mb-5.wow.slideInRight(data-wow-delay=".5s")
                    span.service-icon.rounded-circle.mx-auto.mb-3
                    img.img-fluid.logo(src="../img/bootstrap_logo.svg", alt="")
                    img.img-fluid.logo(src="../img/material.png", alt="")
                    h4 CSS Frameworks 
                    p.text-faded.mb-0 Bootstrap 3 and 
                        i.fa.fa-heart 
                        |  4, 
                        | Material CSS, and Semantic UI