section.calltoaction.hire
  .container
    .row
      .col-md-12.col-lg-12
        h2.wow.slideInRight.animated(style='visibility: visible; animation-name: slideInRight; animation-delay: 0.1s;' data-wow-delay='.1s') ARE YOU READY TO START?
        .calltoaction-decription.wow.slideInRight.animated(style='visibility: visible; animation-name: slideInRight; animation-delay: 0.2s;' data-wow-delay='.2s')
          | I&apos;m available for freelance projects.
      .col-md-12.col-lg-12.calltoaction-btn.wow.slideInRight.animated(style='visibility: visible; animation-name: slideInRight; animation-delay: 0.3s;' data-wow-delay='.3s')
        a.btn.btn-lg(href='#contact') Hire Me