section.experience
    .container
        .row.wow.slideInLeft(data-wow-delay=".5s")
            .col
                h3.text-warning.mb-0 Work Experience and Education
                h2.education-header.mb-3 Accomplishments
                .sectionline
                p.pb-4.lead Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque exercitationem ab expedita architecto mollitia autem iste molestias corporis voluptas, alias minus ad tempora optio pariatur officiis, aliquid nobis nemo officia!
        .row.education.wow.slideInRight(data-wow-delay=".5s")
            .col-md-4.col-sm-12
                i(class="fa fa-laptop icon")
                h3 Completed online
                table.table.table-striped
                    tr
                        td 
                            i(class="fa fa-check")
                        td 
                            p  Course
                        td 
                            p placed studied
                        td 
                            p 2018
                    tr
                        td 
                            i(class="fa fa-check")
                        td 
                            p  Course
                        td 
                            p placed studied
                        td 
                            p 2018
                    tr
                        td 
                            i(class="fa fa-check")
                        td 
                            p  Course
                        td 
                            p placed studied
                        td 
                            p 2018
            .col-md-4.col-sm-12
                i(class="fa fa-graduation-cap icon")
                h3 University
                table.table.table-striped
                    tr
                        td 
                            i(class="fa fa-check")
                        td 
                            p  Course
                        td 
                            p placed studied
                        td 
                            p 2018
                    tr
                        td 
                            i(class="fa fa-check")
                        td 
                            p  Course
                        td 
                            p placed studied
                        td 
                            p 2018
                    tr
                            td 
                                i(class="fa fa-check")
                            td 
                                p  Course
                            td 
                                p placed studied
                            td 
                                p 2018
            .col-md-4.col-sm-12
                i(class="fa fa-tasks icon")
                h3 Currently enrolled
                table.table.table-striped
                    tr
                        td 
                            i(class="fa fa-check")
                        td 
                            p  Course
                        td 
                            p placed studied
                        td 
                            p 2018
                    tr
                        td 
                            i(class="fa fa-check")
                        td 
                            p  Course
                        td 
                            p placed studied
                        td 
                            p 2018
                    tr
                        td 
                            i(class="fa fa-check")
                        td 
                            p  Course
                        td 
                            p placed studied
                        td 
                            p 2018