section.languages
    .container
        .content-section-heading
            h3.text-warning.mb-0 Languages
            h2.mb-2 Backend
            .sectionline
        .row    
            .col-sm-6.col-md-3.text-center.wow.slideInLeft(data-wow-delay=".5s")
                span.chart.easyPieChart(data-percent='90')
                    span.percent 90
                h3.text-center Python
            .col-sm-6.col-md-3.text-center.wow.bounceInUp(data-wow-delay=".5s")
                span.chart.easyPieChart(data-percent='71')
                    span.percent 71
                h3.text-center Ruby
            .col-sm-6.col-md-3.text-center.wow.bounceInUp(data-wow-delay=".5s")
                span.chart.easyPieChart(data-percent='91')
                    span.percent 91
                h3.text-center JS
            .col-sm-6.col-md-3.text-center.wow.slideInRight(data-wow-delay=".5s")
                span.chart.easyPieChart(data-percent='54')
                    span.percent 54
                h3.text-center C#