extends layout.pug

block content

    body
        include includes/navbar.pug

        main.container.profile
            include includes/subhead.pug
            +subhead("Get to know me", "About Me", true)
            include about-components/whoami.pug

            section.stats
                include about-components/stats.pug
               

                .row.social-container
                    include about-components/download-btn.pug
                    include about-components/navsocial.pug