extends layout.pug

block content
    body
        include includes/navbar.pug
        main.container
            section.text-center.profile
                h5.text-muted Get to know me
                h1.title About Me
                hr.section-splitter 
                img.img-thumbnail.mx-auto.d-block.profile-pic(src="/assets/profile.jpg" alt="Profile Pic")
            section.who-am-i
                h5.highlight-text Who am i?
                h4.about-me I'm Daniel Johnson, a visual UX/UI Designer and Web Developer
                p.text-muted I'm baby umami bushwick pickled four dollar toast, helvetica hella crucifix stumptown mumblecore woke franzen. Freegan everyday carry yr post-ironic. Bespoke poutine glossier, yuccie drinking vinegar squid pug pork belly. Shoreditch lomo chillwave master cleanse affogato pabst kombucha cliche aesthetic letterpress bushwick activated charcoal. Deep v pork belly yuccie slow-carb viral PBR&B. Twee synth tilde try-hard occupy air plant typewriter vape palo santo VHS XOXO meh aesthetic glossier. Single-origin coffee disrupt synth chambray cronut literally raw denim celiac.
                hr
            section.profile-stats
                ul
                    li Name:
                        span.stat.text-muted Daniel Johnson
                    li Email:
                        span.stat.highlight-text daniel-philip-johnson@gmail.com
                    li Age:
                        span.stat.text-muted 25
                    li From: 
                        span.stat.text-muted Liverpool, UK
                .row.social-links
                    .col-sm.d-flex.justify-content-center.justify-content-md-start
                        a(role="button" class="btn bt-highlight btn-lg" href="/assets/bg.mp4" download)
                            | Download CV
                    ul.col-sm.d-flex.profile-social.justify-content-between.justify-content-sm-between
                        li.social-icon
                            a(href="https://twitter.com/undreamtmayhem")
                                i.fa.fa-twitter.fa-fixed(aria-hidden="true")
                        li.social-icon
                            a(href="https://www.facebook.com/UndreamtMayhem")
                                i(class="fa fa-facebook fa-fixed" aria-hidden="true")
                        li.social-icon
                            a(href="https://www.linkedin.com/in/daniel-johnson-1b3b1415a/")
                                i(class="fa fa-linkedin fa-fixed" aria-hidden="true")
                        li.social-icon
                            a(href="https://github.com/danielphilipjohnson/")
                                i(class="fa fa-github fa-fixed" aria-hidden="true")
                        li.social-icon
                            a(href="https://www.instagram.com/danielphilipjohnson/")
                                i(class="fa fa-instagram fa-fixed" aria-hidden="true")