extends layout.pug

block content
    main.container
        section
            h4 Get to know me
            h1 About Me
            img(src="/assets/logo.png" alt="Profile Pic")
        section 
            h5 Who am i?
            h3 I'm Daniel Johnson, a visual UX/UI Designer and Web Developer
            p 'm baby umami bushwick pickled four dollar toast, helvetica hella crucifix stumptown mumblecore woke franzen. Freegan everyday carry yr post-ironic. Bespoke poutine glossier, yuccie drinking vinegar squid pug pork belly. Shoreditch lomo chillwave master cleanse affogato pabst kombucha cliche aesthetic letterpress bushwick activated charcoal. Deep v pork belly yuccie slow-carb viral PBR&B. Twee synth tilde try-hard occupy air plant typewriter vape palo santo VHS XOXO meh aesthetic glossier. Single-origin coffee disrupt synth chambray cronut literally raw denim celiac.
            hr