extends layout.pug
include includes/subhead.pug
include mixins/navbar.pug
include mixins/cardBlog.pug
include mixins/cardBlogFullImage.pug
include mixins/cardBlogHalfImage.pug

block content
   
    



    body
        - 
        
            var blogCards = 
            [{
                "profileThumbnail": "/assets/profile.jpg",
                "alt": "profile pic",
                "author": "Daniel Johnson",
                "created": "dd/mm/yryr",
                "title": "Be the change that you wish to see in the world.",
                "keywords": ["Badge","Badge1","Badge2"],
                "link": "#",
                "text": "This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer."
            },{
                "profileThumbnail": "/assets/profile.jpg",
                "alt": "profile pic",
                "author": "Daniel Johnson",
                "created": "dd/mm/yryr",
                "title": "Be the change that you wish to see in the world.",
                "keywords": ["Badge","Badge1","Badge2"],
                "link": "#",
                "text": "This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer."
            }]
            
        +NavbarFixed(navSetting)

        main.container.profile
            +subhead("Checkout my latest blog posts", "Blogs", false)
            .cards.d-flex
                +cardTextBlog(blogCards)
                +cardBlogFullImage(blogCards)
                +CardBlogHalfImage(blogCards)