extends layout.pug
include includes/subhead.pug
include mixins/navbar.pug



block content

    body
        +NavbarFixed(navSetting)
        main.container.profile
            +subhead("Checkout my latest blog posts", "Blogs", false)
            .card-deck
                // implement the cards
                .card.blog.image
                    .card-body
                        .media
                            img.thumbnail.mr-3(src='/assets/profile.jpg' alt='Generic placeholder image')
                            .media-body
                                p Posted by 
                                    span.title Daniel Johnson
                                small.text-muted dd/mm/yryr
                        ul.topics
                            li.text-muted Badge
                            li.text-muted Badge
                            li.text-muted Badge
                        h5.card-title “Be the change that you wish to see in the world.”
                        p.card-text
                            | This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                 
                    img.card-img-top(src='http://placekitten.com/200/200' alt='Card image cap')


                .card.blog
                    .card-body
                        .media
                            img.thumbnail.mr-3(src='/assets/profile.jpg' alt='Generic placeholder image')
                            .media-body
                                p Posted by 
                                    span.title Daniel Johnson
                                small.text-muted dd/mm/yryr
                        ul.topics
                            li.text-muted Badge
                            li.text-muted Badge
                            li.text-muted Badge
                        h5.card-title “Be the change that you wish to see in the world.”
                        p.card-text
                            | This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                 
                .card
                    img.card-img-top(src='http://placekitten.com/300/300' alt='Card image cap')
                    .card-body
                        h5.card-title Card title
                        p.card-text
                            | This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
                        p.card-text
                            small.text-muted Last updated 3 mins ago
