doctype html
html(lang="en")
  include includes/head.pug
  body
  include includes/header.pug
    h1 Pug - node template engine
    #container.col
      if youAreUsingPug
        p You are amazing
      else
        p Get on it!
      p.
        Pug is a terse and simple templating language with a
        strong focus on performance and powerful features.
    h2 hjghjghjghjghjgfdgfdfgd ghgh 
    p hjgjhghjg
    h2 dfjkhjkxzhcjkzxhcjk
    ul  
      li djfklvcj
      li ghhgfghfgh
    