doctype html
html(lang="en")
  include includes/head.pug
  
   - 
      var navSetting = {   
        "logo":{
          "src":"assets/img/logo.png",
          "alt":"Logo"
        },
      "links":[{
            "name":"About",
            "src":"about.html"
          
          },{
              "name":"Portfolio",
              "src":"portfolio.html"
          },{
              "name":"Blog",
              "src":"blog.html"
        }]
      }
  block content

  include includes/scripts.pug
