extends layout.pug

block content

    body
        include includes/navbar.pug
        include includes/subhead.pug

        +subhead("Showcasing some of my best work", "Portfolio", false)
        .jumbotron.container.bg-primary
            h1.display-4 Portfolio