// make mixin
.col-sm-12(data-aos="fade-down" data-aos-delay="250" data-aos-duration="2000" data-aos-mirror="false" data-aos-once="true")
    .col-sm-12
        h2 Profile
    .row
        p.col-sm-12.col-md-6 
            span Name:
            span.stat.mute-text Daniel Johnson
        p.col-sm-12.col-md-6 
            span  Email:
            span.stat.highlight-text daniel-philip-johnson@gmail.com
        p.col-sm-12.col-md-6 
            span Age:
            span.stat.mute-text 25
        p.col-sm-12.col-md-6 
            span From: 
            span.stat.mute-text Liverpool, UK