/* helper */
.highlight-text {
    color: rgb(4, 167, 12);
    padding: 0 0 1rem;
}
.bt-highlight {
    background-color: rgb(4, 167, 12);
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 30px;
}
/* Sections */

.profile {
    padding-top: 3.3rem;
}


.profile-social {
    list-style-type: none;
    justify-content: space-between;

}
.profile-pic {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}


.title {
    font-weight: bolder;
}
.section-splitter {
    padding: 0.15rem;
    margin: 1rem 4rem 2rem;
    background-color: rgb(18, 138, 24);


}


.who-am-i {
    padding: 3rem 0 0;
    
    .about-me {
        font-weight: bolder;
        padding: 0 0 1rem;
    }
    hr {
        margin: 2rem 0 0;
        padding: 0.0025rem;
        background-color: grey;
    }
}

.profile-stats {
    margin: 1rem 0 0;
    ul {
        list-style: none;
        padding: 0;
        li {
            padding: 0 0 1rem 0;
        }
    }
    .stat {
        padding: 0 0 0 .75rem;
        
    }
}


.social-links {
    padding-bottom: 4rem;
    a {
        margin-bottom: 1rem;
    }
    ul {
        background: rgba(0, 0, 0, 0.8);
        color: #eee;
        margin: 0;
        left: 0;
        bottom:0rem;
        position: fixed;
        li.social-icon {
            padding: .75rem 0;
            margin: 0 1.55rem;
        }
    }
   
}

body {
    /*background-color: honeydew;*/
    background-color: #000;
}