/* BLOG CARD */

$push-card-away: 0.75rem;
.cards {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.card.blog {
    background-color: rgba(0, 0, 0, 0);

    border: 0;
    border-radius: 0;
    padding: 0 0.5rem 0 0;
    .card-body {

        padding: 2rem 1rem 0.75rem;
        color: #000;
        background-color: rgba(209, 209, 209, 0.966);
        margin-bottom: $push-card-away;
        .card-title {
            font-size: 1rem;
            font-weight: bold;
            margin: 0;
        }
    }

    .topics {
        list-style: none;

        padding: 2rem 0 0;
        margin: 0 0 1rem;

        li {
            display: inline;
            padding: 0 1rem 0 0;
            font-size: 0.8rem;
        }
    }


    p.card-text {
        font-size: 0.85rem;
        padding: 1rem 0 4rem;
    }

    a.read-more {
        text-decoration: none;
        color: #000;
        font-size: 0.85rem;
        i.fa {
            padding-left: 0.75rem;
        }
    }
}


.card.blog.image {
    margin-bottom: $push-card-away;
    .card-img-top {
        border-radius: 0;
        height: 250px;
    }
    
    .card-body {
        margin-bottom: 0;
    }

    p.card-text {
        position: absolute;
        padding:1.25rem 1rem;
        top: 220px;
        left: 0;
        color: #fff;
    }
}

.card.blog.full-image {
    .image {
        
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: $push-card-away;
        
    }
    .card-body {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.65);
        margin-bottom: 0;
        
        .media-body {
            color: #fff;
        }

    }
    .read-more {
        color: #fff;
    }

}
