.card.blog {
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 4rem;
    border: 0;
    border-radius: 0;

    .card-body {
       

        padding: 1rem 1rem 5rem;
        color: #000;
        background-color: rgba(209, 209, 209, 0.966);

        .card-title {
            font-size: 1rem;
            font-weight: bold;
            margin: 0;
        }
        .media {
            padding-bottom: 1rem;
        }
    }

    .topics {
        list-style: none;

        padding: 0.5rem 0;
        margin: 0.5rem 0;

        li {
            display: inline;
            margin: 0 1rem 0 0;

            span {
                
            }
            svg {
                color: #fff;
                /*background-color: #28ca41;*/
                font-size: 4rem;
                padding: 0 0.25rem;
                /*float: right;*/
            }
            .fa-html5 {
                color:#F16529;
            }
            .fa-css3 {
                color: #0096DC;
            }
            .fa-js {
                color: #8ACF17;
            }
            .fa-sass {
                color: #CF649A
            }
            .fa-gulp{
                color: #DA4648;
            }
            .fa-grunt{
                color: #FCAA1A;
            }
            .fa-node-js{
                color: #8BC500;
            }
            .fa-markdown{
                color: #424242;
            }
            .fa-less{
                color: #274A7D;
            }
            .fa-angular{
                color: #DD0031;
            }
            .fa-react{
                color: #5ADAFD;
            }

     
            
        }
    }


    p.card-text {
        font-size: 0.85rem;
        padding: 1rem 0 0;
        margin: 0;
    }

    a.read-more {
        text-decoration: none;
        color: #000;
        font-size: 0.85rem;
        i.fa {
            padding-left: 0.75rem;
        }
    }
}


.card-img-top {
border-radius: 0;
}
