.card.blog.image {

    
    .card-img-top {
        border-radius: 0;
        height: 350px;
    }
    
    .card-body {
        margin-bottom: 0;
        padding: 1rem 1rem 2rem;
    }

    p.card-text {

        color: #fff;
    }
}