// turn to mixin
ul.col-sm.nav.social
    li.social-icon
        a.lg(href="https://twitter.com/undreamtmayhem")
            i.fab.fa-twitter(aria-hidden="true")
    li.social-icon
        a.lg(href="https://www.facebook.com/UndreamtMayhem")
            i(class="fab fa-facebook" aria-hidden="true")
    li.social-icon
        a.lg(href="https://www.linkedin.com/in/daniel-johnson-1b3b1415a/")
            i(class="fab fa-linkedin" aria-hidden="true")
    li.social-icon
        a.lg(href="https://github.com/danielphilipjohnson/")
            i(class="fab fa-github" aria-hidden="true")
    li.social-icon
        a.lg(href="https://www.instagram.com/danielphilipjohnson/")
            i(class="fab fa-instagram" aria-hidden="true")