ul
    li Name:
        span.stat.mute-text Daniel Johnson
    li Email:
        span.stat.highlight-text daniel-philip-johnson@gmail.com
    li Age:
        span.stat.mute-text 25
    li From: 
        span.stat.mute-text Liverpool, UK