ul.row
    li.col-md-6 Name:
        span.stat.mute-text Daniel Johnson
    li.col-md-6 Email:
        span.stat.highlight-text daniel-philip-johnson@gmail.com
    li.col-md-6 Age:
        span.stat.mute-text 25
    li.col-md-6 From: 
        span.stat.mute-text Liverpool, UK