

mixin socialIcons(socials)
    ul.nav-social-fr
        each social in socials
           
            li
                a(href=social.href)
                    i(class="fa fa-" + social.socialPlatform +  " lg" aria-hidden="true")
          
