mixin socialIcons(socials)
    ul.nav-social-fr.wow.slideInRight
        each social in socials
            li
                a.lg(href=social.href)
                    i(class="fab fa-" + social.socialPlatform aria-hidden="true")