.nav-tabs {
    
    margin: 4rem 0 2rem 0;

    justify-content: center;
    font-size: 1.25rem;
    border-bottom: none;


    .nav-link.active {
        background-color: transparent;
        border: 0px none;
        border-bottom: 2px $primary-color solid;
        color: #fff;
    }
    .nav-link {
        color: $addtional-text;
        
    }
}
