
section.heading  {

    padding-top: $push-away-from-nav;

    text-align: center;

    .addtional-text {
        color: $addtional-text;
    }

    .title {
        font-weight: $font-weight-bolder;
    }

    .section-splitter {
        padding: 0.15rem;
        margin: 1rem 4rem 2rem;
        background-color: $primary-color;
    }

    img.profile-pic {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        margin: 0 auto;
        max-width: 100%;
        padding: 0.25rem;
        border: $profile-pic-border;
        background-color: white;
    }
}