header(class="v-header container")
    div(class="fullscreen-video-wrap")
        video(src="./video/video.mp4" autoplay="" loop="")

    div(class="header-overlay")
    
    div(class="header-content text-md-center")
        h1 Welcome Everyone
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id temporibus perferendis necessitatibus
        | numquam amet impedit explicabo? Debitis quasi ullam aperiam!
        a(class="btn") Find Out More