header(class="v-header container")
    div(class="fullscreen-video-wrap")
        video(autoplay loop muted)
            source(src="./assets/alt2.mp4", type="video/mp4")

    div(class="header-overlay")
    
    .container
        .box.header-content
            .title
                span.block
                h1
                    | Daniel Johnson
                span
            .role
                .block
                p I'm a Developer