- var classes = ['foo', 'bar', 'baz']
- var implemented = false
nav(class="navbar navbar-expand-lg navbar-dark")
  a.navbar-brand(href='#') Navbar
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon

  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.d-flex
      if implemented
        li.nav-item.active
          a.nav-link(href='#') About 
        li.nav-item
          a.nav-link(href='#') Resume
        li.nav-item
          a.nav-link(href='#') Portfolio
        li.nav-item
          a.nav-link(href='#') Blog
        li.nav-item
          a.nav-link(href='#') Contact
      else
        li.nav-item.active
          a.nav-link(href='#') About 
        li.nav-item
          a.nav-link(href='#') Portfolio
        li.nav-item
          a.nav-link(href='#') Blog