ul.social-icon-container
    li
        a(href="#")
            i.fa.fa-twitter.fa-fixed(aria-hidden="true")
    li
        a(href="#")
            i(class="fa fa-facebook fa-fixed" aria-hidden="true")
    li
        a(href="#")
            i(class="fa fa-linkedin fa-fixed" aria-hidden="true")
    li
        a(href="#")
            i(class="fa fa-github fa-fixed" aria-hidden="true")
    li
        a(href="#")
            i(class="fa fa-instagram fa-fixed" aria-hidden="true")