mixin subhead(subtext, heading, displayPhoto)
    section.aboutme
        h5.mute-text= subtext 
        h1.title= heading
        hr.section-splitter 
        if displayPhoto
            img.profile-pic(src="/assets/profile.jpg" alt="Profile Pic")