
body {
    font-family: 'Poppins', sans-serif;
    background-color: #101010;
    color: #fff;

}
html { overflow-x: hidden; }​
body#full-video, html {
    /*height: 100%;*/
    overflow-x:hidden;
    display: block;
}
.container.profile {
    padding: 0 2rem;
}

main {
    padding-top: $push-away-from-nav;
}


.lg {
    color: #fff;
    font-size: 1.4rem;
    padding: 0 0 0.5rem 0;
    &:hover{
        color: grey;
    }
}


