/*
$text: grey;
*/

/* COLOR */
$primary-color: #04a70c;

$addtional-text: #6c757d;




$font-weight-bolder: bolder;


/* PROFILE */
$push-away-from-nav: 5.5rem;
$profile-pic-border: 1px solid #dee2e6;



/* grid breakpoints */
$media-xs: 0;
$media-sm: 480px;
$media-md: 768px;
$media-lg: 1024px;




/* BLOG CARD */

$push-blog-card-away: 0.75rem;